@model List<ConnectionViewModel>

<table>
    <thead>
        <tr>
            <th>用户名</th>
            <th>设备Id</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.DeviceId</td>
                <td>
                    <a asp-action="Disconnect" asp-route-userId="@item.UserId" asp-route-userName="@item.UserName" asp-route-deviceId="@item.DeviceId">断开</a>
                </td>
            </tr>
        }
    </tbody>
</table>